<a href="https://colab.research.google.com/github/msahid-cse/Python/blob/main/AI_FIRST_LAB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#variable
x = 10
y = 20.5
z = 'sahid'
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'str'>

In [5]:
#newline
new_line='hello\nworld'
print(new_line)

name = "Sahid"
print(f"Hello, \n{name}!")

msg = """my
message"""
print(msg)

hello
world
Hello,
Sahid!
my
message

In [7]:
#typecoversion
x = 3
str(x)

int

In [8]:
#camel_case
myVariableName = "John"

#passcal_cse
MyVariableName = "John"

#snake_case
my_variable_name = "John"

In [11]:
#multiple_value
x, y, x = "Orange", "Banana", "Cherry"
print(x, y, z)
print(x+y+z)
print(x)
print(y)
print(z)

Cherry Banana sahid
CherryBananasahid
Cherry
Banana
sahid

In [ ]:
#global and local veriable
x = "Easy"

def myfunc():
  x = "Hard"
  print("Python is " + x)

myfunc()

print("Python is " + x)

In [26]:
#list and tuple

#list
fruits = ["apple", "banana", "mango"]
print(fruits)
fruits[0] = "pipeapple"
print(fruits)


#tuple
fruits2 = ("apple", "banana", "mango")
print(f"\n{fruits2}")
#fruits[0]= "pipeapple"
#print(fruits)

temp_list = list(fruits2)
temp_list[0] = "pipeapple"
fruits2 = tuple(temp_list)
print(fruits2)

['apple', 'banana', 'mango']
['pipeapple', 'banana', 'mango']

('apple', 'banana', 'mango')
('pipeapple', 'banana', 'mango')

In [27]:
#comparison operator
x = 5
y = 3

print(x == y)
print(x != y)
print(x > y)
print(x < y)
print(x >= y)
print(x <= y)

False
True
True
False
True
False

In [28]:
#conditional statement
a = int(input("enter a number: "))
b = 200
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

enter a number: 500
a is greater than b

In [37]:
#find the greatest number from the 3 number using funciton

num1= float(input("Enter first number: "))
num2= float(input("Enter second number: "))
num3= float(input("Enter third number: "))

def find_greatest(num1,num2,num3):
    if (num1 > num2) and (num1 > num3):
        greatest = num1
    elif (num2 > num1) and (num2 > num3):
        greatest = num2
    else:
        greatest = num3


    return greatest

greatest_number = find_greatest(num1, num2, num3)
print("The greatest number is:", greatest_number)

#using max
print(f"Greatest: {max(num1,num2,num3)}")

Enter first number: 10
Enter second number: 2
Enter third number: 10
The greatest number is: 10.0
Greatest: 10.0

In [42]:
#loop

#for loop
for i in range(10):
  print(i)

print("\n")
for i in range(2, 10):
  print(i)

0
1
2
3
4
5
6
7
8
9


2
3
4
5
6
7
8
9

In [66]:
#list1 = [-2,-1,0,1,2,3,4,5,6,7]
#output = []

list1 = [-2, -1, 0, 1, 2, 3, 4, 5, 6, 7]

def my_function(list1):
  for i in range(len(list1)):
      list1[i] = list1[i] * 2
  return list1 # Return the modified list

modified_list = my_function(list1) # Assign the returned list to a variable
print(modified_list) # Print the modified list

In [68]:
#write a python program to find second larget number form a set of numbers
list1 = [-2,-1,0,1,2,3,4,5,6,7]
list1.sort()
print(f"Second largest number is: {list1[-1]}")

Second largest number is: 7

In [72]:
#write a python program to find second larget number form a set of numbers
list1 = [-2,-1,0,1,2,3,4,5,6,7]

for i in range(len(list1)):
    for j in range(i+1,len(list1)):
        if list1[i] > list1[j]:
            list1[i],list1[j] = list1[j],list1[i]
print(f"Second largest number is: {list1[-2]}")

Second largest number is: 6

In [76]:
#summation of add and even number
list1 = [1,2,3,4,5,6,7,8,9,10]
even_sum = 0
odd_sum = 0
for i in range(len(list1)):
  if list1[i] % 2 != 0:
    odd_sum = odd_sum + list1[i]
  else:
    even_sum = even_sum + list1[i]
print(f"Odd sum: {odd_sum}")
print(f"Even sum: {even_sum}")

Odd sum: 25
Even sum: 30

In [86]:
def my_fun(*names):
  print("name: ", names)

my_fun("sahid", "abir", "noman")

name:  ('sahid', 'abir', 'noman')

In [90]:
def my_fun(food):
  for i in range(len(food)):
    #print(i)
    print(food[i])

fruits = ["apple", "banana", "cherry"]

my_fun(fruits)

apple
banana
cherry

In [98]:
def my_fun(n):
  if n == 0 or n ==1:
    return 1
  else:
    return n * my_fun(n-1)
m = my_fun(5)
print(m)

120