<a href="https://colab.research.google.com/github/msahid-cse/Python/blob/main/Create_DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
'''Create a DataFrame with the following data:
      |   Name     Age   City    |
      |   Sarah    29    Boston  |
Data =|   Tom      35    Miami   |
      |   Emily    22    Seattle |

Retrieve the City column from the DataFrame.'''



import pandas as pd

data = {'Name': ['Sarah', 'Tom', 'Emily'],
        'Age': [29, 35, 22],
        'City': ['Boston', 'Miami', 'Seattle']}

df = pd.DataFrame(data)
print(df['City'])

0     Boston
1      Miami
2    Seattle
Name: City, dtype: object